{% for i, posts in pages %}
<div class="container-fluid" id="page-{{ i }}" {{ (i != pagenum ) ? "style='display: none;'"}}>
<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>Sub</th>
    <th>When</th>
    <th>Thumb</th>
  </tr>
</thead>
<tbody>
{% for post in posts %}
<tr>
  <td>
    {% if post.error %}
    <i class="fas fa-xs fa-exclamation-triangle text-danger"></i>
    {% elseif post.url is empty %}
    <i class="far fa-xs fa-clock text-muted"></i>
    {% else %}
    <i class="fa fa-xs fa-check text-muted"></i>
    {% endif %}
    <a href="/edit?id={{ post.id }}">{{ post.title }}</a>
    {% if post.ratelimit_count %}
    <span class="badge badge-warning">ratelimit</span>
    {% endif %}
  </td>
  <td>{{ post.subreddit }}</td>
  <td>
    <span title="{{ (post.when_original ?? post.when) | date("d/m/Y g:ia T", timezone=post.whenzone) }}">
      {{ (post.when_original ?? post.when) | time_diff }}
    </span>
  </td>
  <td class="d-flex justify-content-center align-items-center">
    {% embed "thumbnail_dispatch.html" with {thumb: post.thumb} only %}
      {% use "thumbnail.html" %}
    {% endembed %}
  </td>
</tr>
{% else %}
<tr>
  <td colspan="4">
    <div class="text-center text-muted">
      You have no posts
    </div>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}
<div id="pagination-container" class="d-inline-block justify-content-center align-items-center">

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js" integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css" integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA==" crossorigin="anonymous" />

<script>
$(function() {
  var container = $("#pagination-container");
  container.pagination({
    dataSource: {{ range(1, n_pages)|json_encode }},
    pageSize: 1,
    callback: function(page_num, pagination) {
    	var previous = $("[id^='page-']:visible");
			previous.attr("style", "display: none;");
      
      var next = $("#page-" + page_num);
      next.attr("style", "display: block");
    	
    }
  });
});
</script>
